@using YouthWithRoll.Models;

<h3>MainView</h3>

<div>
    <ul >
        @foreach(Trainer trainer in Trainers)
            {
                <li style="display:inline-block">
                    <YouthWithRoll.Controls.TrainerCard TrainerModel="trainer"></YouthWithRoll.Controls.TrainerCard>
                </li>
            }
    </ul>
</div>